.btn-modal-close {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #000000;
    background: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-modal-close:hover,
.btn-modal-close:focus {
    cursor: pointer;
    color: $accent-color;
}
.btn-modal-close__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: currentColor;
}
