.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    justify-content: center;

    &__link {
        display: flex;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        height: 92px;

        justify-content: center;
        align-items: center;
        color: $icon-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon {
        fill: currentColor;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    &__item {
        width: 100%;
        margin-bottom: 30px;
        flex-basis: calc((100% - 60px) / 2);
        margin-right: 30px;

        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 90px) / 3);
        }
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 240px) / 6);
            margin-bottom: 0;
        }
    }   

    &__link:hover,
    &__link:focus {
    border-color: $accent-color;
    color: $accent-color;
    }
} 




